# LLM Selection
# Choices: openai | google
LLM_PROVIDER=google

# LLM Credentials
OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_gooele_api_key_here

# GitHub Integration
GITHUB_TOKEN=your_github_personal_access_token_here
GITHUB_ORG=your_github_org_name_here
GITHUB_ENTERPRISE_URL=


# Confluence Integration
CONFLUENCE_URL=https://your-domain.atlassian.net/wiki
CONFLUENCE_USERNAME=your-email@domain.com
CONFLUENCE_API_TOKEN=your_confluence_api_token_here
CONFLUENCE_PARENT_PAGE_ID=123456

# Jira Integration
JIRA_URL=https://your-domain.atlassian.net
JIRA_USERNAME=your-email@domain.com
JIRA_API_TOKEN=your_jira_api_token_here
JIRA_PROJECT_KEY=PROJ

# FastAPI & Agent Settings
PORT=8000
HOST=0.0.0.0
AGENT_RECURSION_LIMIT=50
